<div class="container">
  <div class="container">
    <div class="row row-cols-2">
      <%= "Sorry! No donuts at the momenent!" if @donuts.empty? %>
        <%  @donuts.each do |donut| %>
          <div class="card" style="width: 18rem;">
          <div class="card-img-top">
          <%= link_to donut_path(donut) do %>
            <%= cl_image_tag(donut.photo.key, width: 200, height: 300, crop: :fit , alt: donut.name ) %>
          <% end %>
          </div>
            <div class="card-body">
              <h5 class="card-title"><strong><%= donut.name%></strong> </h5>
            </div>
            <div>
              <p class="card-text"> <i class="fa-solid fa-star"><%= donut.rating%></i></p>
            </div>
            <div>
              <p class="card-text">£ <%= donut.price%></p>
            </div>
            <div>
              <p class="card-text"><%= donut.available? ? "Available" : "Not available" %></p>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
