<div class="container">
  <div class="row row-cols-4 gx-5 gy-2">
    <%= "Sorry! No donuts at the momenent!" if @donuts.empty? %>
      <%  @donuts.each do |donut| %>
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            <h5><strong><%= donut.name%></strong></h5>
          </div>
          <%= link_to donut_path(donut) do %>
            <%= cl_image_tag(donut.photo.key, width: 600, height: 600, crop: :fill , alt: donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
          <% end %>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> <i class="fa-solid fa-star"> <%= donut.rating>0 ? donut.rating : "N/A" %></i></li>
              <li class="list-group-item">£ <%= donut.price%></li>
              <li class="list-group-item"><%= donut.available? ? "Available" : "Not available" %></li>
            </ul>
          </div>
        </div>
      <% end %>
  </div>
</div>
