<div class="container">

  <div class="row justify-content-md-center">
    <% if @donuts%>
      <div class="col-10 p-2"><%= form_with url: donuts_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "search-form form-control shadow",
          placeholder: "Find a donut"
        %>
        <%= submit_tag "Search", class: "btn searchbar-button m-2 shadow" %>
      <% end %>

      <div class="d-flex m-2">
        <h4>Filter:&nbsp;&nbsp;</h4>
        <% Tag.all.each do |tag| %>
          <%= link_to donuts_path(tag: tag.name), style:"text_decoration: none;" do%>
            <% if tag.name == "vegan"%>
              <img style="background-color: green;" src="https://res.cloudinary.com/danwlbu2c/image/upload/v1676652300/production/5278701_u0pvgg.png" height="35" width="35">
            <% end %>
            <%  if tag.name == "vegetarian"%>
              <img style="background-color: #64ff33;" src="https://res.cloudinary.com/danwlbu2c/image/upload/v1676652260/production/723734_wtdngc.png" height="35" width="35">
            <% end %>
            <%  if tag.name == "gluten free"%>
              <img style="background-color:#ffd133;" src="https://res.cloudinary.com/danwlbu2c/image/upload/v1676652284/production/4905936_ds74gd.png" height="35" width="35">
            <% end %>
            <%  if tag.name == "low fat"%>
              <img style="background-color: pink;" src="https://res.cloudinary.com/danwlbu2c/image/upload/v1676652316/production/4762115_g99zef.png" height="35" width="35">
            <% end %>
          <% end %>
        <% end %>
        <button type="button" class="btn searchbar-button shadow"><%= link_to "Reset", donuts_path, style:"text-decoration: none; color: white;"%></button>
      </div>



      </div>
      <% if !@found  %>
        <div  class="row justify-content-md-center">
          <h3>No results!</h3>
        </div>
      <% end %>
      <% if !@donuts_available.empty?%>
        <div  class="row justify-content-md-center m-3">
          <h3 class="availability-font">Available</h3>
        </div>
        <%  @donuts_available.each do |donut| %>
          <div class="card big-white-container col-3 m-3">
            <div class="card-body">
              <h5><strong><%= donut.name%></strong></h5>
            </div>
            <%= link_to donut_path(donut) do %>
              <%= cl_image_tag(donut.photo.key, width: 600, height: 600, crop: :fill , alt: donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
            <% end %>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"> <%= image_tag "donut-c.png", width: 20, height: 20 %> <%= donut.rating>0 ? "#{donut.rating} (#{donut.number_ratings})" : "N/A" %></li>
                <% price = donut.price.round(2).to_s.split(".") %>
                <% if price[1].length == 1 %>
                  <% price[1] = price[1] + "0" %>
                <%end%>
                <% price = price.join(".") %>
                <li class="list-group-item">£ <%= price%></li>
                <li class="list-group-item"><%= donut.available? ? "Available" : "Not available" %></li>
                <li class="list-group-item">
                <% donut.donut_tags.each do |donut_tag| %>
                    <% if donut_tag.tag.name == "vegan"%>
                      <img style="background-color: green;" src="https://res.cloudinary.com/danwlbu2c/image/upload/v1676652300/production/5278701_u0pvgg.png" height="35" width="35">
                    <% end %>
                    <%  if donut_tag.tag.name == "vegetarian"%>
                      <img style="background-color: #64ff33;" src="https://res.cloudinary.com/danwlbu2c/image/upload/v1676652260/production/723734_wtdngc.png" height="35" width="35">
                    <% end %>
                    <%  if donut_tag.tag.name == "gluten free"%>
                      <img style="background-color:#ffd133;" src="https://res.cloudinary.com/danwlbu2c/image/upload/v1676652284/production/4905936_ds74gd.png" height="35" width="35">
                    <% end %>
                    <%  if donut_tag.tag.name == "low fat"%>
                      <img style="background-color: pink;" src="https://res.cloudinary.com/danwlbu2c/image/upload/v1676652316/production/4762115_g99zef.png" height="35" width="35">
                    <% end %>
                <% end %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if !@donuts_not_available.empty?%>
        <div class="m-3">
          <h3 class="availability-font">Not Available</h3>
        </div>
        <%  @donuts_not_available.each do |donut| %>
          <div class="card big-gray-container col-3 m-3">
              <div class="card-body">
                <h5><strong><%= donut.name%></strong></h5>
              </div>
              <%= cl_image_tag(donut.photo.key, width: 600, height: 600, crop: :fill , alt: donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
              <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"> <%= image_tag "donut-c.png", width: 20, height: 20 %> <%= donut.rating>0 ? "#{donut.rating} (#{donut.number_ratings})" : "N/A" %></li>
                <% price = donut.price.round(2).to_s.split(".") %>
                <% if price[1].length == 1 %>
                  <% price[1] = price[1] + "0" %>
                <%end%>
                <% price = price.join(".") %>
                <li class="list-group-item">£ <%= price%></li>
                <li class="list-group-item"><%= donut.available? ? "Available" : "Not available" %></li>
                <li class="list-group-item">
                <% donut.donut_tags.each do |donut_tag| %>
                    <% if donut_tag.tag.name == "vegan"%>
                      <img style="background-color: green;" src="https://res.cloudinary.com/danwlbu2c/image/upload/v1676652300/production/5278701_u0pvgg.png" height="35" width="35">
                    <% end %>
                    <%  if donut_tag.tag.name == "vegetarian"%>
                      <img style="background-color: #64ff33;" src="https://res.cloudinary.com/danwlbu2c/image/upload/v1676652260/production/723734_wtdngc.png" height="35" width="35">
                    <% end %>
                    <%  if donut_tag.tag.name == "gluten free"%>
                      <img style="background-color:#ffd133;" src="https://res.cloudinary.com/danwlbu2c/image/upload/v1676652284/production/4905936_ds74gd.png" height="35" width="35">
                    <% end %>
                    <%  if donut_tag.tag.name == "low fat"%>
                      <img style="background-color: pink;" src="https://res.cloudinary.com/danwlbu2c/image/upload/v1676652316/production/4762115_g99zef.png" height="35" width="35">
                    <% end %>
                <% end %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div  class="row justify-content-md-center">
        <h3>No donuts available! Please check later</h3>
      </div>
    <% end %>
  </div>
</div>

<% if @tag %>
  <% @tag_arr.each do |donut| %>
    <p><%= donut.name %></p>
  <% end %>
<% end %>
