<div class="container">
  <div class="row row-cols-2">
      <div class="card" style="width: 18rem;">
        <div class="card-img-top">
          <%= cl_image_tag(@donut.photo.key, width: 200, height: 300, crop: :fit , alt: @donut.name ) %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><strong><%= @donut.name%></strong></h5>
        </div>
        <div class="card-body">
          <h5 class="card-title"><strong>Sold by: </strong></h5>
          <p class="card-text"><%= @user.username%></p>
        </div>
        <div class="card-body">
          <h5 class="card-title"><strong>Description: </strong></h5>
          <p class="card-text"><%= @donut.description%></p>
        </div>
        <div class="card-body">
          <h5 class="card-title"><strong>Price:  </strong></h5>
          <p class="card-text">£<%= @donut.price%> </p>
        </div>
        <div class="card-body">
          <h5 class="card-title"><strong>Rating : </strong></h5>
          <p class="card-text"><i class="fa-solid fa-star"><%= @donut.rating%></i></p>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-success"><%= link_to "Order Donut", new_donut_order_path(@donut) %></button>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <h3><strong>Reviews</strong></h3>
          <% @donut.reviews.each do |review| %>
                <div class="card" >
                  <div class="card-body">
                    <h5 class="card-title"><strong>Review </strong></h5>
                    <p class="card-text"><%= review.comment %></p>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><strong>Rating: </strong></h5>
                    <p class="card-text"><small>
                        <% count = 0 %>
                        <% 5.times do %>
                          <% if review.rating > count %>
                            <i class="fa-solid fa-star"></i>
                          <% else %>
                            <i class="fa-regular fa-star"></i>
                          <% end %>
                          <% count += 1 %>
                        <% end %>
                      </small> </p>
                  </div>
                </div>
          <% end %>
      </div>
  </div>

  <button type="button" class="btn btn-info"><%= link_to "Back to Donuts", donuts_path %></button>

</div>
