<div class='container'>
  <h3>Hi <%= current_user.first_name %>!</h3>
  <h4>Active orders:</h4>
  <div class="d-flex justify-content-center">
    <div>
      <h2>Pending Orders</h2>
      <% @pending_orders.each do |order| %>
        <div class='card user-order-card d-flex flex-row justify-content-around align-items-center'>
          <div>
            <p><b><%= order.donut.name %></b> x <%= order.quantity %></p>
            <% total = order.total_cost.round(2).to_s.split(".") %>
            <% if total[1].length == 1 %>
              <% total[1] = total[1] + "0" %>
            <%end%>
            <% total = total.join(".") %>
            <p>Total: £<%= total %></p>
            <p>Order date: <%= order.created_at.strftime('%d-%m-%Y %H:%M') %></p>
            <p>Status: <%= order.complete ? "complete" : order.status %></p>
          </div>
          <div>
            <%= cl_image_tag(order.donut.photo.key, width: 150, height: 150, crop: :fill , alt: order.donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
          </div>
        </div>
      <% end %>
    </div>
    <div>
      <h2>Accepted Orders</h2>
      <% @accepted_orders.each do |order| %>
        <div class='card user-order-card d-flex flex-row justify-content-around align-items-center'>
          <div>
            <p><b><%= order.donut.name %></b> x <%= order.quantity %></p>
            <% total = order.total_cost.round(2).to_s.split(".") %>
            <% if total[1].length == 1 %>
              <% total[1] = total[1] + "0" %>
            <%end%>
            <% total = total.join(".") %>
            <p>Total: £<%= total %></p>
            <p>Order date: <%= order.created_at.strftime('%d-%m-%Y %H:%M') %></p>
            <p>Status: <%= order.complete ? "complete" : order.status %></p>
          </div>
          <div>
            <%= cl_image_tag(order.donut.photo.key, width: 150, height: 150, crop: :fill , alt: order.donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
          </div>
        </div>
      <% end %>
    </div>
    <div>
      <h2>Fulfilled Orders</h2>
        <% @complete_orders.each do |order| %>
          <div class='card user-order-card d-flex flex-row justify-content-around align-items-center'>
            <div>
              <p><b><%= order.donut.name %></b> x <%= order.quantity %></p>
              <% total = order.total_cost.round(2).to_s.split(".") %>
              <% if total[1].length == 1 %>
                <% total[1] = total[1] + "0" %>
              <%end%>
              <% total = total.join(".") %>
              <p>Total: £<%= total %></p>
              <p>Order date: <%= order.created_at.strftime('%d-%m-%Y %H:%M') %></p>
              <p>Status: <%= order.complete ? "complete" : order.status %></p>
            </div>
            <div>
              <%= cl_image_tag(order.donut.photo.key, width: 150, height: 150, crop: :fill , alt: order.donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
            </div>
          </div>
        <% end %>
    </div>
  </div>


</div>
