<div style="min-width: 430px;">
  <h2>Archived Orders</h2>
  <% @archived_orders.each do |order| %>
    <div class='card big-white-container baker-order-card d-flex flex-row justify-content-around align-items-center'>
      <div>
        <p><b><%= order.donut.name %></b> x <%= order.quantity %></p>
        <% total = order.total_cost.round(2).to_s.split(".") %>
        <% if total[1].length == 1 %>
          <% total[1] = total[1] + "0" %>
        <%end%>
        <% total = total.join(".") %>
        <p>Total: £<%= total %></p>
        <p>Order date: <br> <%= order.created_at.strftime('%d-%m-%Y %H:%M') %></p>
      </div>
      <div>
        <%= cl_image_tag(order.donut.photo.key, width: 100, height: 100, crop: :fill , alt: order.donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
      </div>
      <div class="nav-link dropdown">
        <p>Status:</p>
        <span class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Complete
        </span>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <div class="container" style="width: 180px;">
            <%= render "orders/baker_edit_form", donut: order.donut, order: order %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
