<div class="container">
  <h1>Your Bakery</h1>
  <div class="d-flex">
    <div>
      <h2>Incoming Orders</h2>
      <% current_user.donuts.each do |donut| %>
        <% donut.orders.each do |order| %>
          <% if order.complete != true %>
            <% if order.status == "pending" %>
              <div class='card active-order-card d-flex flex-row justify-content-between'>
                <div>
                  <p><%= order.donut.name %> x <%= order.quantity %></p>
                  <% total = order.total_cost.round(2).to_s.split(".") %>
                  <% if total[1].length == 1 %>
                    <% total[1] = total[1] + "0" %>
                  <%end%>
                  <% total = total.join(".") %>
                  <p>Total: £<%= total %></p>
                  <p>Order date: <%= order.created_at %></p>
                </div>
                <div>
                  <%= cl_image_tag(order.donut.photo.key, width: 100, height: 100, crop: :fill , alt: order.donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
                </div>
                <div class="nav-link dropdown">
                  <span class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= order.status %>
                  </span>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <div class="container" style="width: 400px;">
                      <%= render "orders/baker_edit_form", donut: donut, order: order %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>


    <div>
      <h2>Accepted Orders</h2>
      <% current_user.donuts.each do |donut| %>
        <% donut.orders.each do |order| %>
          <% if order.complete != true %>
            <% if order.status == "accepted" %>
              <div class='card active-order-card d-flex flex-row justify-content-between'>
                <div>
                  <p><%= order.donut.name %> x <%= order.quantity %></p>
                  <% total = order.total_cost.round(2).to_s.split(".") %>
                  <% if total[1].length == 1 %>
                    <% total[1] = total[1] + "0" %>
                  <%end%>
                  <% total = total.join(".") %>
                  <p>Total: £<%= total %></p>
                  <p>Order date: <%= order.created_at %></p>
                </div>
                <div>
                  <%= cl_image_tag(order.donut.photo.key, width: 100, height: 100, crop: :fill , alt: order.donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
                </div>
                <div class="nav-link dropdown">
                  <span class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= order.status %>
                  </span>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <div class="container" style="width: 400px;">
                      <%= render "orders/baker_edit_form", donut: donut, order: order %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>


    <div>
      <h2>Fulfilled Orders</h2>
        <% current_user.donuts.each do |donut| %>
          <% donut.orders.each do |order| %>
            <% if order.complete %>

              <div class='card active-order-card d-flex flex-row justify-content-between'>
                <div>
                  <p><%= order.donut.name %> x <%= order.quantity %></p>
                  <% total = order.total_cost.round(2).to_s.split(".") %>
                  <% if total[1].length == 1 %>
                    <% total[1] = total[1] + "0" %>
                  <%end%>
                  <% total = total.join(".") %>
                  <p>Total: £<%= total %></p>
                  <p>Order date: <%= order.created_at %></p>
                </div>
                <div>
                  <%= cl_image_tag(order.donut.photo.key, width: 100, height: 100, crop: :fill , alt: order.donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
                </div>
                <div class="nav-link dropdown">
                  <span class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Order Options
                  </span>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <div class="container" style="width: 400px;">
                      <%= render "orders/baker_edit_form", donut: donut, order: order %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
    </div>
  </div>


  <div>
    <h2>Your Donuts</h2>
    <h3><%= link_to "Add Dounut", new_donut_path %></h3>
    <div class="d-flex">
      <% current_user.donuts.each do |donut| %>
        <div class="card big-white-container" style="width: 18rem;">
          <div class="card-body">
            <h5><strong><%= donut.name%></strong></h5>
          </div>
          <%= link_to donut_path(donut) do %>
            <%= cl_image_tag(donut.photo.key, width: 600, height: 600, crop: :fill , alt: donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
          <% end %>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> <%= image_tag "donut-c.png", width: 20, height: 20 %> <%= donut.rating>0 ? "#{donut.rating} (#{donut.number_ratings})" : "N/A" %></li>
              <li class="list-group-item">£ <%= donut.price%></li>
              <li class="list-group-item"><%= donut.available? ? "Available" : "Not available" %></li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
