<div class="container d-flex justify-content-center flex-column">
  <h1>Your Bakery</h1>
  <h2><%= link_to "Order Archive", archived_path %></h2>
  <div class="d-flex justify-content-center">
    <div style="min-width: 430px;">
      <h2>Incoming Orders</h2>
      <% @pending_orders.each do |order| %>
        <div class='card big-white-container baker-order-card d-flex flex-row justify-content-around align-items-center'>
          <div>
            <p><b><%= order.donut.name %></b> x <%= order.quantity %></p>
            <% total = order.total_cost.round(2).to_s.split(".") %>
            <% if total[1].length == 1 %>
              <% total[1] = total[1] + "0" %>
            <%end%>
            <% total = total.join(".") %>
            <p>Total: £<%= total %></p>
            <p>Order date: <br> <%= order.created_at.strftime('%d-%m-%Y %H:%M') %></p>

            <div class="nav-link dropdown">
              <span class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Customer Info
              </span>
              <div class="dropdown-menu dropdown-menu-begin" aria-labelledby="navbarDropdown">
                <div class="container" style="width: 200px;">
                  <p><%= order.user.first_name %> <%= order.user.last_name %></p>
                  <p><%= order.user.address %></p>
                  <p><%= order.user.phone_number %></p>
                </div>
              </div>
            </div>

          </div>
          <div>
            <%= cl_image_tag(order.donut.photo.key, width: 100, height: 100, crop: :fill , alt: order.donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
          </div>
          <div class="nav-link dropdown">
            <p>Status:</p>
            <span class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= order.status %>
            </span>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <div class="container" style="width: 180px;">
                <%= render "orders/baker_edit_form", donut: order.donut, order: order %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div style="min-width: 430px;">
      <h2>Accepted Orders</h2>
      <% @accepted_orders.each do |order| %>
        <div class='card big-white-container baker-order-card d-flex flex-row justify-content-around align-items-center'>
          <div>
            <p><b><%= order.donut.name %></b> x <%= order.quantity %></p>
            <% total = order.total_cost.round(2).to_s.split(".") %>
            <% if total[1].length == 1 %>
              <% total[1] = total[1] + "0" %>
            <%end%>
            <% total = total.join(".") %>
            <p>Total: £<%= total %></p>
            <p>Order date: <br> <%= order.created_at.strftime('%d-%m-%Y %H:%M') %></p>

            <div class="nav-link dropdown">
              <span class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Customer Info
              </span>
              <div class="dropdown-menu dropdown-menu-begin" aria-labelledby="navbarDropdown">
                <div class="container" style="width: 200px;">
                  <p><%= order.user.first_name %> <%= order.user.last_name %></p>
                  <p><%= order.user.address %></p>
                  <p><%= order.user.phone_number %></p>
                </div>
              </div>
            </div>

          </div>
          <div>
            <%= cl_image_tag(order.donut.photo.key, width: 100, height: 100, crop: :fill , alt: order.donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
          </div>
          <div class="nav-link dropdown">
            <p>Status:</p>
            <span class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= order.status %>
            </span>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <div class="container" style="width: 180px;">
                <%= render "orders/baker_edit_form", donut: order.donut, order: order %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div style="min-width: 430px;">
      <h2>Out for delivery</h2>
      <% @delivery_orders.each do |order| %>
        <div class='card big-white-container baker-order-card d-flex flex-row justify-content-around align-items-center'>
          <div>
            <p><b><%= order.donut.name %></b> x <%= order.quantity %></p>
            <% total = order.total_cost.round(2).to_s.split(".") %>
            <% if total[1].length == 1 %>
              <% total[1] = total[1] + "0" %>
            <%end%>
            <% total = total.join(".") %>
            <p>Total: £<%= total %></p>
            <p>Order date: <br> <%= order.created_at.strftime('%d-%m-%Y %H:%M') %></p>

            <div class="nav-link dropdown">
              <span class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Customer Info
              </span>
              <div class="dropdown-menu dropdown-menu-begin" aria-labelledby="navbarDropdown">
                <div class="container" style="width: 200px;">
                  <p><%= order.user.first_name %> <%= order.user.last_name %></p>
                  <p><%= order.user.address %></p>
                  <p><%= order.user.phone_number %></p>
                </div>
              </div>
            </div>


          </div>
          <div>
            <%= cl_image_tag(order.donut.photo.key, width: 100, height: 100, crop: :fill , alt: order.donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
          </div>
          <div class="nav-link dropdown">
            <p>Status:</p>
            <span class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= order.status %>
            </span>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <div class="container" style="width: 180px;">
                <%= render "orders/baker_edit_form", donut: order.donut, order: order %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div style="min-width: 430px;">
      <h2>Fulfilled Orders</h2>
      <% @complete_orders.each do |order| %>
        <div class='card big-white-container baker-order-card d-flex flex-row justify-content-around align-items-center'>
          <div>
            <p><b><%= order.donut.name %></b> x <%= order.quantity %></p>
            <% total = order.total_cost.round(2).to_s.split(".") %>
            <% if total[1].length == 1 %>
              <% total[1] = total[1] + "0" %>
            <%end%>
            <% total = total.join(".") %>
            <p>Total: £<%= total %></p>
            <p>Order date: <br> <%= order.created_at.strftime('%d-%m-%Y %H:%M') %></p>

            <div class="nav-link dropdown">
              <span class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Customer Info
              </span>
              <div class="dropdown-menu dropdown-menu-begin" aria-labelledby="navbarDropdown">
                <div class="container" style="width: 200px;">
                  <p><%= order.user.first_name %> <%= order.user.last_name %></p>
                  <p><%= order.user.address %></p>
                  <p><%= order.user.phone_number %></p>
                </div>
              </div>
            </div>


          </div>
          <div>
            <%= cl_image_tag(order.donut.photo.key, width: 100, height: 100, crop: :fill , alt: order.donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
          </div>
          <div class="nav-link dropdown">
            <p>Status:</p>
            <span class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Complete
            </span>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <div class="container" style="width: 180px;">
                <%= render "orders/baker_edit_form", donut: order.donut, order: order %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>


  <div>
    <h2>Your Donuts</h2>
    <h3><%= link_to "Add Dounut", new_donut_path %></h3>
    <div class="d-flex justify-content-center">
      <% current_user.donuts.each do |donut| %>
        <div class="card big-white-container m-1" style="width: 18rem;">
          <div class="card-body">
            <h5><strong><%= donut.name%></strong></h5>
          </div>
          <%= link_to donut_path(donut) do %>
            <%= cl_image_tag(donut.photo.key, width: 600, height: 600, crop: :fill , alt: donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
          <% end %>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> <%= image_tag "donut-c.png", width: 20, height: 20 %> <%= donut.rating>0 ? "#{donut.rating} (#{donut.number_ratings})" : "N/A" %></li>
              <li class="list-group-item">£ <%= donut.price%></li>

              <li class="list-group-item">
                <div class="nav-link dropdown">
                  <span class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= donut.available? ? "Available" : "Not available" %>
                  </span>
                  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <div class="container" style="width: 180px;">
                      <%= render "donuts/donut_availability_edit_form", donut: donut %>
                    </div>
                  </div>
                </div>
              </li>
              <% donut.donut_tags.each do |donut_tag| %>
                <span><%= donut_tag.tag.name %></span>
                <% end %>

              <li class="list-group-item"><%= link_to "Add tag", donut_donut_tags_path(donut)#new %></li>

              <li class="list-group-item"><%= link_to "Edit Details", edit_donut_path(donut) %></li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
