<h1 id="home-page-title">We are home to the most delicious donuts you've ever tasted</h1>
<div class="container m-5 big-white-container">
    <div class="d-flex flex-row">
      <div class="col-8 p-3  justify-content-center">
        <h3 class="title-search-bar text-center m-2">Let homer know, what are you craving today?</h3>
          <%= form_with url: donuts_path, method: :get, class: "d-flex m-2" do %>
            <%= text_field_tag :query,
              params[:query],
              class: "search-form form-control p-2 shadow",
              placeholder: "Find your donut"
            %>
            <%= submit_tag "Search", class: "btn searchbar-button m-2 p-1 shadow" %>
          <% end %>
      </div>
      <div class="p-5">
        <img class="img-fluid w-100 p-3" src="https://pyxis.nymag.com/v1/imgs/a22/179/b205a78510315d932427143ad6b6fb5694-03-homer-simpson-doughnuts.2x.rhorizontal.w700.jpg" alt="Homer eating donut">
      </div>
    </div>
    <div class="rated-donuts-sentence d-flex justify-content-center p-3">
      <p> Check out our top rated donuts:</p>
    </div>
    <div class="justify-content-around d-flex">
          <%  @top_donuts.each do |donut| %>
            <div class="card big-white-container col-3 m-3">
              <div class="card-body">
                <h5><strong><%= donut.name%></strong></h5>
              </div>
              <%= link_to donut_path(donut) do %>
                <%= cl_image_tag(donut.photo.key, width: 600, height: 600, crop: :fill , alt: donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
              <% end %>
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"> <%= image_tag "donut-c.png", width: 20, height: 20 %> <%= donut.rating>0 ? "#{donut.rating} (#{donut.number_ratings})" : "N/A" %></li>
                  <% price = donut.price.round(2).to_s.split(".") %>
                  <% if price[1].length == 1 %>
                    <% price[1] = price[1] + "0" %>
                  <%end%>
                  <% price = price.join(".") %>
                  <li class="list-group-item">£ <%= price%></li>
                  <li class="list-group-item"><%= donut.available? ? "Available" : "Not available" %></li>
                  <li class="list-group-item">
                  <% donut.donut_tags.each do |donut_tag| %>
                      <% if donut_tag.tag.name == "vegan"%>
                        <img style="background-color: green;" src="https://res.cloudinary.com/danwlbu2c/image/upload/v1676652300/production/5278701_u0pvgg.png" height="35" width="35">
                      <% end %>
                      <%  if donut_tag.tag.name == "vegetarian"%>
                        <img style="background-color: #64ff33;" src="https://res.cloudinary.com/danwlbu2c/image/upload/v1676652260/production/723734_wtdngc.png" height="35" width="35">
                      <% end %>
                      <%  if donut_tag.tag.name == "gluten free"%>
                        <img style="background-color:#ffd133;" src="https://res.cloudinary.com/danwlbu2c/image/upload/v1676652284/production/4905936_ds74gd.png" height="35" width="35">
                      <% end %>
                      <%  if donut_tag.tag.name == "low fat"%>
                        <img style="background-color: pink;" src="https://res.cloudinary.com/danwlbu2c/image/upload/v1676652316/production/4762115_g99zef.png" height="35" width="35">
                      <% end %>
                  <% end %>
                  </li>
                </ul>
              </div>
            </div>
          <% end %>
      </div>
  </div>
</div>
