<h1 id="home-page-title">We are home to the most delicious donuts you've ever tasted</h1>
<div class="container m-5 mx-auto big-white-container">
    <div class="col-10 p-3"><%= form_with url: donuts_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a donut"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %></div>
    <div class="d-flex justify-content-center p-5">
      <img class="img-fluid w-25" src="https://pyxis.nymag.com/v1/imgs/a22/179/b205a78510315d932427143ad6b6fb5694-03-homer-simpson-doughnuts.2x.rhorizontal.w700.jpg" alt="Homer eating donut">
    </div>
    <div class="rated-donuts-sentence d-flex justify-content-center p-3">
      <p> Check out our top rated donuts:</p>
    </div>
    <div class="justify-content-around d-flex">
        <p>
          <%  @top_donuts.each do |donut| %>
        <div class="card big-white-container col-3 m-3">
          <div class="card-body">
            <h5><strong><%= donut.name%></strong></h5>
          </div>

          <div class="d-flex justify-content-center">
              <% donut.donut_tags.each do |donut_tag| %>
                <p class="btn m-1" style="background-color: pink;">
                  <%= "Ve" if donut_tag.tag.name == "vegan"%>
                  <%= "Vg" if donut_tag.tag.name == "vegetarian"%>
                  <%= "GF" if donut_tag.tag.name == "gluten free"%>
                  <%= "LF" if donut_tag.tag.name == "low fat"%>
                </p>
              <% end %>
          </div>

          <%= link_to donut_path(donut) do %>
            <%= cl_image_tag(donut.photo.key, width: 600, height: 600, crop: :fill , alt: donut.name, class:"rounded mx-auto d-block img-thumbnail card-img-top" ) %>
          <% end %>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> <%= image_tag "donut-c.png", width: 20, height: 20 %> <%= donut.rating>0 ? "#{donut.rating} (#{donut.number_ratings})" : "N/A" %></li>
              <li class="list-group-item">£ <%= donut.price%></li>
              <li class="list-group-item"><%= donut.available? ? "Available" : "Not available" %></li>
            </ul>
          </div>
        </div>
          <% end %>
        </p>
      </div>
      <div class="d-flex justify-content-center">

      </div>
  </div>
</div>
